@import '../../mixins';

.property.name {
  input {
    width: 150px;
  }
}

.property.description {
  textarea {
    width: 150px;
    height: 50px;
  }
}

.property {
  margin-top: 7px;

  button {
    vertical-align: top;
  }

  .revert {
    @include revertBase64();
    display: inline-block;
    vertical-align: top;
  }

  .revert:not(.disabled) {
    opacity: 0.55;
  }

  .revert:not(.disabled):hover {
    opacity: 0.9;
  }
}