.property.name {
  input {
    width: 150px;
  }
}

.property.description {
  textarea {
    width: 150px;
    height: 50px;
  }
}

.property {
  margin-top: 7px;

  button {
    vertical-align: top;
  }
}