@import '../../variables';
@import '../../mixins';

.indexTags {

  width: $input-width;

  .searchControls {
    width: $input-width + 20;

    .clear {
      @include revertBase64();
        position: absolute;
      }
 
     .clear:not(.disabled) {
       opacity: 0.55;
      }

     .clear:not(.disabled):hover {
       opacity: 0.9;
     }

    .searchType {
      margin-top: 10px;
      font-size: smaller;

      .caption {
        font-style: normal;
      }

      .option:hover {
        color: $hover-color;
      }

      span {
        font-size: smaller;
        margin-left: 7px;
        cursor: default;
      }

      .selected {
        font-weight: bold;
        font-style: normal;
      }
    }

  }

  .tagList {
    margin-top: -28px;
    border: 1px solid #aaa;
    padding: 5px;
    width: $input-width - 8;
    max-height: 120px;
    overflow-y: auto;
    position: absolute;
    background-color: #f9f9f9;

    ul {
      margin-left: 0;

      li {
        cursor: default;
      }

      li:hover {
        color: $hover-color;
        background-color: #ddf;
      }
    }

    ul.selectedTags {
      li {
        .marked {
          @include markedBase64();
          display: inline-block;
        }
        .tag {
          margin-left: 2px;
        }
      }
    }

    ul {
      li {
        .tag {
          margin-left: 0px;
        }
      }
    }

    .plus {
      border: 0px dashed #ccc;
      border-bottom-width: 1px;
      margin-bottom: 5px;
      padding-bottom: 5px;
    }
  }
}