.app ul.menu li {
  float: left;
  margin-right: 5px; }

.app ul.menu li:last-child {
  float: none; }

.app .content {
  margin-top: 15px; }
.searchList .notFoundCaption {
  font-style: italic; }

.searchList ul {
  margin-left: 20px; }

.searchList li {
  cursor: default; }
  .searchList li span:hover {
    color: #a00; }
.tags .searchControls {
  margin-bottom: 15px; }

.tags .startSearchCaption {
  font-style: italic; }
.property.name input {
  width: 150px; }

.property.description textarea {
  width: 150px;
  height: 50px; }

.property {
  margin-top: 7px; }
  .property button {
    vertical-align: top; }
  .property .revert {
    width: 20px;
    height: 20px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAHHSURBVDhPlZRLcsJADETHNr+zsOMqrNhyD5bcgDP4cKy8BPOb6HVoYrscErpqYg2SnuWRJik/dTqd8v1+l13XdT6fz7IRvtvtJpsY9lbbtvlyuch+PB458YNlaEopN03TgwL8D7R4Gmk2mwXnW2VZUrnsqqpSAHp2wBQfuWmxWMiHXRRFlBIC6krX63WOxBxQVYrNwvbevmGlcBLf7Q1QAuNNvUSLs/0LSvk6THS9Xl/VdKHL5VI+n+nwKwxVU/jThRLQXavVKu/3e/m6UHyGIkMLNgHToc7ncx1sJKopblRAZEdyik6rMY4NqPbEwylJJpCAOEM5ptOpgnkJopPYJEwmE0GIRcD8hEO9qggAiZ9AD4eDfAgG1Zd8Ck6CPoUej0fl2qdqI1EKhxajEY5eowLymlOEj5jgKIenpbGRMXACewfF9thsNpuf7rsalqHMGXoHdazHxiOlcgwlyIE80RDKPwjHxfnm7Xar/JcPMhqDGhzdzLvdbtSHyDOUoVW56B2UamyzqGy0UWzGoKgLtk0DrGGj4OjqRaCuF3MXyZoz5o3ZQtjMI37CA/LrNS1xIpJ9T7lCBPAShE0SfiDsyeO3/vCn9AVz7Ln3QdGGGgAAAABJRU5ErkJggg==");
    display: inline-block;
    vertical-align: top; }
  .property .revert:not(.disabled) {
    opacity: 0.55; }
  .property .revert:not(.disabled):hover {
    opacity: 0.9; }
.controls {
  margin-top: 15px; }
  .controls button {
    margin-right: 7px; }
.itemTags {
  margin-top: 15px; }
  .itemTags .tagList {
    margin-top: 7px; }
    .itemTags .tagList ul {
      margin-left: 5px; }
      .itemTags .tagList ul li {
        float: left;
        margin-right: 7px; }
      .itemTags .tagList ul li:last-child {
        float: none; }
    .itemTags .tagList .remove {
      width: 16px;
      height: 16px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAFhSURBVDhPnVIxkoJAEFywDDwzIg3EyA+cJPgNcs/EP5D5CMucKjJDE1M/QUZIYaJmVBmAe3Sfs4dgZFdNzUxPb4uza5VlqXu9ngIsy1J5nqvxeKyqqiLXBHSPx0NprZ9MDRgggMvlgom+Xq/sZSbzJEl0GIashTcGIjqdTjQpioK98AB4oP669wYIYLPZGLGg3+/r/X7PuqnvGCAAz/OMSRAEejAYsG5rucRa+ALbtrlQWRpwPudqNOou137mF8ih+pOZJ5MJDwv/gvYnIYA0TfkXJJbLJfm29u0Sb7ebOQjM59+s4zhm39R3rvF+v5vDx+ORHCBc/dDYdwwA3K8I1+s1OZlFUWRmQL2PfwOBCKbTKXsxF43rupwvFgv2NECBVyeHEYK2AZ64aLbbLTleo+/7SESWZczt+0bvOI5arX7Yz2YzZvNzw+GXPhwOrJtvXQKcYLfbMYOzUPxZfQKlfgFb+3ZpZTVYbAAAAABJRU5ErkJggg==");
      display: inline-block;
      vertical-align: top;
      opacity: 0.6; }
    .itemTags .tagList .remove:hover {
      width: 16px;
      height: 16px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAGeSURBVDhPnZIxT8JQEMevZVI2JjAKibHRzURYwESC8RswaOLQiV3jYsJnMHGAnaQbIw6sxNWBjY2EODBorS4ljQGevX97tbRO/pLXd/d/9+7du1dtuVyqTCZDjKZpNJ/PqVAo0Gq1ghaH49brNSmlQoVI548E27ZNW9e35DgOguOwP5lMqN1ub65xBTKY0WikPhuXynVd+KIzfjhm/8BoDyoQuJJ6vU6PZ0fkHR5Dk9O+zq+o3+/DDnKFSKb4YCqVivrYPYDdbDYjOxmLJoa5InRdR0P59PedfWjfL8+Uz6ebu3EFgTvNSMkMbxY9zp8J+OTpdEqNm/tQITJNE5WlSN6J8Z8Rd5Z7l8snsC3Lgh+PTz2j53nR5uFwCI0Rzf/R4KcSMPy+EthqtaDJWq/Xi9YYvx+/CQQJKJVK8CW5xBSLRazXajX4rOvcsMViQc6egZ7oRplmsxnsJOPxGPPT6xt1Oh00G22tVqtY4M2u9QA7+d7s53I5urs4hW8YwYHBz+2TzW6rwWAAm3sRL58Ha0K328XMmsZGkOo/EP0AfBjgLNMwLHYAAAAASUVORK5CYII=");
      opacity: 0.95; }
  .itemTags .tagsSearchControls {
    margin-top: 7px; }
  .itemTags .tagsSearchList {
    margin-top: 7px; }
.item {
  /*color: blue;*/ }
.tag {
  color: green; }
html {
  font-family: sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.caption {
  font-style: italic;
  font-size: smaller; }

.disabled {
  opacity: 0.1; }
