@import '../variables';

.app {
	ul.menu {
		li {
			float: left;
			margin-right: 5px;
		}
		li, li a {
			text-decoration: underline;
			cursor: default;
			color: rgb(85, 26, 139);
		}
		li:hover, li a:hover {
			color: $hover-color;
		}
		li:last-child {
			float: none;
		}
	}

	ul.languages {
		font-size: smaller;
		position: absolute;
		top: 8px;
		left: 240px;

		li {
			cursor: default;
			float: left;
			margin-left: 5px;
			color: #777;
		}

		li:hover {
			color: $hover-color;
		}

		.selected {
			font-weight: bolder;
		}
	}

	.content {
		margin-top: 15px;
	}
}