@import '../variables';
 
.app {

	ul.menu {
		float: left;
		margin-right: 15px;

		li {
			float: left;
			margin-right: 5px;
		}
		li, li a {
			text-decoration: underline;
			cursor: default;
			color: rgb(85, 26, 139);
		}
		li:hover, li a:hover {
			color: $hover-color;
		}
	}

	ul.languages {
		font-size: smaller;

		li {
			cursor: default;
			float: left;
			margin-left: 5px;
			color: #777;
		}

		li:hover {
			color: $hover-color;
		}

		.selected {
			font-weight: bolder;
		}
	}

	.content {
		padding-top: 15px;
	}
}