@import '../mixins';

.index {

  .clear {
    @include revertBase64();
    display: inline-block;
    vertical-align: top;
  }

  .clear:not(.disabled) {
    opacity: 0.55;
  }

  .revert:not(.disabled):hover {
    opacity: 0.9;
  }

  .tagList {
    border: 1px solid #aaa;
    padding: 5px;
    width: 160px;
    max-height: 120px;
    overflow-y: auto;

    ul {
      margin-left: 0;

      li {
        cursor: default;
      }

      li:hover {
        color: #a00;
        background-color: #ddf;
      }
    }

    ul.selectedTags {
      border: 0px dashed #ccc;
      border-bottom-width: 1px;
      margin-bottom: 5px;
      padding-bottom: 5px;

      li {
        .marked {
          @include markedBase64();
          display: inline-block;
        }
        .tag {
          margin-left: 2px;
        }
      }
    }

    ul {
      li {
        .tag {
          margin-left: 0px;
        }
      }
    }
  }
}