html {
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.caption {
  font-style: italic;
  font-size: smaller;
}

.disabled {
  opacity: 0.1;
}

.hide {
  display: none;
}
