@mixin caption () {
	font-style: italic;
}

@mixin removeBlackBase64 () {
	width: 16px;
	height: 16px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAFhSURBVDhPnVIxkoJAEFywDDwzIg3EyA+cJPgNcs/EP5D5CMucKjJDE1M/QUZIYaJmVBmAe3Sfs4dgZFdNzUxPb4uza5VlqXu9ngIsy1J5nqvxeKyqqiLXBHSPx0NprZ9MDRgggMvlgom+Xq/sZSbzJEl0GIashTcGIjqdTjQpioK98AB4oP669wYIYLPZGLGg3+/r/X7PuqnvGCAAz/OMSRAEejAYsG5rucRa+ALbtrlQWRpwPudqNOou137mF8ih+pOZJ5MJDwv/gvYnIYA0TfkXJJbLJfm29u0Sb7ebOQjM59+s4zhm39R3rvF+v5vDx+ORHCBc/dDYdwwA3K8I1+s1OZlFUWRmQL2PfwOBCKbTKXsxF43rupwvFgv2NECBVyeHEYK2AZ64aLbbLTleo+/7SESWZczt+0bvOI5arX7Yz2YzZvNzw+GXPhwOrJtvXQKcYLfbMYOzUPxZfQKlfgFb+3ZpZTVYbAAAAABJRU5ErkJggg==');
}

@mixin removeRedBase64 () {
	width: 16px;
	height: 16px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAGeSURBVDhPnZIxT8JQEMevZVI2JjAKibHRzURYwESC8RswaOLQiV3jYsJnMHGAnaQbIw6sxNWBjY2EODBorS4ljQGevX97tbRO/pLXd/d/9+7du1dtuVyqTCZDjKZpNJ/PqVAo0Gq1ghaH49brNSmlQoVI548E27ZNW9e35DgOguOwP5lMqN1ub65xBTKY0WikPhuXynVd+KIzfjhm/8BoDyoQuJJ6vU6PZ0fkHR5Dk9O+zq+o3+/DDnKFSKb4YCqVivrYPYDdbDYjOxmLJoa5InRdR0P59PedfWjfL8+Uz6ebu3EFgTvNSMkMbxY9zp8J+OTpdEqNm/tQITJNE5WlSN6J8Z8Rd5Z7l8snsC3Lgh+PTz2j53nR5uFwCI0Rzf/R4KcSMPy+EthqtaDJWq/Xi9YYvx+/CQQJKJVK8CW5xBSLRazXajX4rOvcsMViQc6egZ7oRplmsxnsJOPxGPPT6xt1Oh00G22tVqtY4M2u9QA7+d7s53I5urs4hW8YwYHBz+2TzW6rwWAAm3sRL58Ha0K328XMmsZGkOo/EP0AfBjgLNMwLHYAAAAASUVORK5CYII=');
}

@mixin revertBase64 () {
	width: 20px;
	height: 20px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAHHSURBVDhPlZRLcsJADETHNr+zsOMqrNhyD5bcgDP4cKy8BPOb6HVoYrscErpqYg2SnuWRJik/dTqd8v1+l13XdT6fz7IRvtvtJpsY9lbbtvlyuch+PB458YNlaEopN03TgwL8D7R4Gmk2mwXnW2VZUrnsqqpSAHp2wBQfuWmxWMiHXRRFlBIC6krX63WOxBxQVYrNwvbevmGlcBLf7Q1QAuNNvUSLs/0LSvk6THS9Xl/VdKHL5VI+n+nwKwxVU/jThRLQXavVKu/3e/m6UHyGIkMLNgHToc7ncx1sJKopblRAZEdyik6rMY4NqPbEwylJJpCAOEM5ptOpgnkJopPYJEwmE0GIRcD8hEO9qggAiZ9AD4eDfAgG1Zd8Ck6CPoUej0fl2qdqI1EKhxajEY5eowLymlOEj5jgKIenpbGRMXACewfF9thsNpuf7rsalqHMGXoHdazHxiOlcgwlyIE80RDKPwjHxfnm7Xar/JcPMhqDGhzdzLvdbtSHyDOUoVW56B2UamyzqGy0UWzGoKgLtk0DrGGj4OjqRaCuF3MXyZoz5o3ZQtjMI37CA/LrNS1xIpJ9T7lCBPAShE0SfiDsyeO3/vCn9AVz7Ln3QdGGGgAAAABJRU5ErkJggg==');
}